.datepicker {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    background: grey;
}

.datepicker__month {
    width: 50%;
    font-size: 32px;
    text-align: center;
}

.datepicker__arrow {
    width: 25%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.datepicker__arrow_direction_left {
    background-image: url(./picture/arrow.png);
}

.datepicker__arrow_direction_right {
    background-image: url(./picture/arrow.png);
    transform: scale(-1, 1);
}

.datepicker__containerWeek {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-size: 24px;
}

.containerWeek__dayWeek{
    width: 56px;
    box-sizing: border-box;
    border: 2px solid black;
    margin: 2px;
    background: cadetblue;
    text-align: center;
}

.datepicker__containerMonth {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.containerMonth__dayNumber{
    width: 56px;
    height: 30px;
    box-sizing: border-box;
    border: 2px dotted black;
    margin: 2px;
    background: darkgrey;
    text-align: center;
}

.containerMonth__dayNumber_tag_grey{
    background: grey;
}

.containerMonth__dayNumber_tag_yellow{
    background: yellowgreen;
}
